li {
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.nav a:hover, li:hover{
  color:#8cc6ff;
}

.nav a:active{
  color: red;
}


.nav a{
  color:black ;
}
.nav{
  display: flex;
}
.menu{
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.dropdown-content{
  border: 2px solid #8cc6ff;
  width: 150px;
  padding-left: 0%;
  height: 90px;
  padding-top: 10px;
  margin-top: 5px ;
  position: absolute;
}
.dropdown-content li{
  height: 30px;
}

